In [28]:
# Importinh=g Libraries
import pandas as pd
import numpy as np
import os

In [29]:
# Turn the project folder path into a string 
path = r'C:\Users\Kalyani\Documents\Instacart_Basket_Analysis'

In [30]:
path

'C:\\Users\\Kalyani\\Documents\\Instacart_Basket_Analysis'

In [31]:
# mporting ords_prods_merge.pkl” data set from your “Prepared Data” folder as df_ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared_data', 'orders_products_merged_derived.pkl'))

In [32]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders

In [33]:
# Check a shape for dataframe
ords_prods_merge.shape

(32404859, 18)

# Step 2

In [34]:
# find the aggregated mean of the “order_number” column grouped by “department_id” for  entire dataframe.
ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Step 3 -- Analyze the result
The subset of dataframe had only 8 'drpartment_id', whereas entire dataframe contains 21 'department_ids'

In [35]:
#  A new column called “max_order” is created
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Kalyani\AppData\Local\Temp\ipykernel_1196\1703821868.py:2: FutureWarning: The provided callable <function max at 0x0000021FC6ED5620> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [36]:
# Checking new column "max_order"
ords_prods_merge.head(30)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,27

# Step 4: Deriving Columns with loc()

In [37]:
# Assigning loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [38]:
# Checking loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [39]:
#  Access multiple columns at the same time.
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# Step 5: check the basic statistics of the product prices for each loyalty category.

In [40]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

-- New customer spends $3 extra compared to loyal customer.

# Step 6:  Create a spending flag for each user based on the average price across all their orders

In [41]:
#  A new column called “mean_of_prices” is created
ords_prods_merge['mean_of_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Kalyani\AppData\Local\Temp\ipykernel_1196\2692851216.py:2: FutureWarning: The provided callable <function mean at 0x0000021FC6ED6020> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_of_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [42]:
# Checking new column 'mean_of_prices'
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_of_prices
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,20,Regular customer,8.137793

In [43]:
# Assigning spender flag
ords_prods_merge.loc[ords_prods_merge['mean_of_prices'] < 10, 'spender_flag'] = 'Low Spender'

In [44]:
ords_prods_merge.loc[ords_prods_merge['mean_of_prices'] >= 10, 'spender_flag'] = 'High Spender'

In [45]:
# Checking frequency of new column 'spender_flag'.
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

In [47]:
#  Access multiple columns at the same time.
ords_prods_merge[['user_id', 'spender_flag', 'mean_of_prices', 'prices']].head(60)

    user_id spender_flag  mean_of_prices  prices
0         1  Low Spender        6.367797     9.0
1         1  Low Spender        6.367797     9.0
2         1  Low Spender        6.367797     9.0
3         1  Low Spender        6.367797     9.0
4         1  Low Spender        6.367797     9.0
5         1  Low Spender        6.367797     9.0
6         1  Low Spender        6.367797     9.0
7         1  Low Spender        6.367797     9.0
8         1  Low Spender        6.367797     9.0
9         1  Low Spender        6.367797     9.0
10       15  Low Spender        3.980556     9.0
11       15  Low Spender        3.980556     9.0
12       15  Low Spender        3.980556     9.0
13       15  Low Spender        3.980556     9.0
14       15  Low Spender        3.980556     9.0
15       19  Low Spender        8.372059     9.0
16       19  Low Spender        8.372059     9.0
17       19  Low Spender        8.372059     9.0
18       21  Low Spender        7.012683     9.0
19       31  Low Spender        8.137793     9.0
20       31  Low Spender        8.137793     9.0
21       43  Low Spender        7.444898     9.0
22       43  Low Spender        7.444898     9.0
23       52  Low Spender        6.356287     9.0
24       52  Low Spender        6.356287     9.0
25       52  Low Spender        6.356287     9.0
26       52  Low Spender        6.356287     9.0
27       52  Low Spender        6.356287     9.0
28       52  Low Spender        6.356287     9.0
29       52  Low Spender        6.356287     9.0
30       52  Low Spender        6.356287     9.0
31       52  Low Spender        6.356287     9.0
32       52  Low Spender        6.356287     9.0
33       52  Low Spender        6.356287     9.0
34       52  Low Spender        6.356287     9.0
35       52  Low Spender        6.356287     9.0
36       52  Low Spender        6.356287     9.0
37       67  Low Spender        7.656790     9.0
38       67  Low Spender        7.656790     9.0
39       67  Low Spender        7.656790     9.0
40       67  Low Spender        7.656790     9.0
41       67  Low Spender        7.656790     9.0
42       67  Low Spender        7.656790     9.0
43       67  Low Spender        7.656790     9.0
44       67  Low Spender        7.656790     9.0
45       67  Low Spender        7.656790     9.0
46       67  Low Spender        7.656790     9.0
47       67  Low Spender        7.656790     9.0
48       67  Low Spender        7.656790     9.0
49       67  Low Spender        7.656790     9.0
50       67  Low Spender        7.656790     9.0
51       67  Low Spender        7.656790     9.0
52       67  Low Spender        7.656790     9.0
53       67  Low Spender        7.656790     9.0
54       67  Low Spender        7.656790     9.0
55       67  Low Spender        7.656790     9.0
56       81  Low Spender        8.165385     9.0
57       81  Low Spender        8.165385     9.0
58       82  Low Spender        6.441221     9.0
59       82  Low Spender        6.441221     9.0

# Step 7:Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [49]:
#  A new column called “mean_of_prices” is created
ords_prods_merge['median_of_days'] = ords_prods_merge.groupby(['user_id'])['days_since_previous_order'].transform(np.median)

C:\Users\Kalyani\AppData\Local\Temp\ipykernel_1196\238759048.py:2: FutureWarning: The provided callable <function median at 0x0000021FC70860C0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_of_days'] = ords_prods_merge.groupby(['user_id'])['days_since_previous_order'].transform(np.median)

In [76]:
# Checking new column 'median_oF_days'
ords_prods_merge['median_of_days'].head(60)

0     20.5
1     20.5
2     20.5
3     20.5
4     20.5
5     20.5
6     20.5
7     20.5
8     20.5
9     20.5
10    10.0
11    10.0
12    10.0
13    10.0
14    10.0
15     6.0
16     6.0
17     6.0
18     7.5
19     6.0
20     6.0
21    10.0
22    10.0
23     8.0
24     8.0
25     8.0
26     8.0
27     8.0
28     8.0
29     8.0
30     8.0
31     8.0
32     8.0
33     8.0
34     8.0
35     8.0
36     8.0
37     7.0
38     7.0
39     7.0
40     7.0
41     7.0
42     7.0
43     7.0
44     7.0
45     7.0
46     7.0
47     7.0
48     7.0
49     7.0
50     7.0
51     7.0
52     7.0
53     7.0
54     7.0
55     7.0
56    30.0
57    30.0
58    11.5
59    11.5
Name: median_of_days, dtype: float64

In [82]:
# Assigning frequency flag

ords_prods_merge.loc[ords_prods_merge['median_of_days'] > 20, 'frequency_flag'] = 'Non_frequent Customer'

In [79]:
ords_prods_merge.loc[(ords_prods_merge['median_of_days']) > 10 & (ords_prods_merge['median_of_days'] <= 20), 'frequency_flag'] = 'Regular customer'

In [80]:
ords_prods_merge.loc[ords_prods_merge['median_of_days'] <= 10, 'frequency_flag'] = 'frequent customer'

In [84]:
# Checking frequency  of 'frequency_flag' column
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
frequent customer        21559853
Regular customer          7208564
Non_frequent Customer     3636437
nan                             5
Name: count, dtype: int64

In [86]:
#  Access multiple columns at the same time.
ords_prods_merge[['user_id', 'frequency_flag', 'median_of_days', 'days_since_previous_order']].head(60)

    user_id         frequency_flag  median_of_days  days_since_previous_order
0         1  Non_frequent Customer            20.5                        NaN
1         1  Non_frequent Customer            20.5                       15.0
2         1  Non_frequent Customer            20.5                       21.0
3         1  Non_frequent Customer            20.5                       29.0
4         1  Non_frequent Customer            20.5                       28.0
5         1  Non_frequent Customer            20.5                       19.0
6         1  Non_frequent Customer            20.5                       20.0
7         1  Non_frequent Customer            20.5                       14.0
8         1  Non_frequent Customer            20.5                        0.0
9         1  Non_frequent Customer            20.5                       30.0
10       15      frequent customer            10.0                        7.0
11       15      frequent customer            10.0                        8.0
12       15      frequent customer            10.0                        7.0
13       15      frequent customer            10.0                        7.0
14       15      frequent customer            10.0                       14.0
15       19      frequent customer             6.0                        6.0
16       19      frequent customer             6.0                        8.0
17       19      frequent customer             6.0                        6.0
18       21      frequent customer             7.5                        6.0
19       31      frequent customer             6.0                        7.0
20       31      frequent customer             6.0                        8.0
21       43      frequent customer            10.0                        4.0
22       43      frequent customer            10.0                        3.0
23       52      frequent customer             8.0                        NaN
24       52      frequent customer             8.0                        7.0
25       52      frequent customer             8.0                        7.0
26       52      frequent customer             8.0                        8.0
27       52      frequent customer             8.0                        8.0
28       52      frequent customer             8.0                        7.0
29       52      frequent customer             8.0                        8.0
30       52      frequent customer             8.0                        7.0
31       52      frequent customer             8.0                        6.0
32       52      frequent customer             8.0                        8.0
33       52      frequent customer             8.0                        6.0
34       52      frequent customer             8.0                       14.0
35       52      frequent customer             8.0                        8.0
36       52      frequent customer             8.0                       30.0
37       67      frequent customer             7.0                        NaN
38       67      frequent customer             7.0                        5.0
39       67      frequent customer             7.0                        7.0
40       67      frequent customer             7.0                        8.0
41       67      frequent customer             7.0                        8.0
42       67      frequent customer             7.0                        7.0
43       67      frequent customer             7.0                        7.0
44       67      frequent customer             7.0                        7.0
45       67      frequent customer             7.0                        6.0
46       67      frequent customer             7.0                        7.0
47       67      frequent customer             7.0                        8.0
48       67      frequent customer             7.0                        6.0
49       67      frequent customer             7.0                        7.0
50       67      frequent customer             7.0                        9.0
51       67      frequent customer             7.0                        4.0
52       67      frequent customer             7.0                        9.0
53       67      frequent customer             7.0                        5.0
54       67      frequent customer             7.0                       14.0
55       67      frequent customer             7.0                       14.0
56       81  Non_frequent Customer            30.0                       14.0
57       81  Non_frequent Customer            30.0                       30.0
58       82       Regular customer            11.5                        NaN
59       82       Regular customer            11.5                        5.0

In [87]:
# Step 7: Exporting dataframe

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared_data', 'ords_prods_grouped.pkl'))